# Pandas intro

In [2]:
import pandas as pd

In [3]:
l=[1,2,3,4,5]
pd.Series(l)
#pd.Series(l,index=[85,56,39,25,55])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
li={45:98,65:85,36:89,23:56}

In [6]:
s=pd.Series(li)

In [5]:
s[45]=12

In [6]:
del s[45]

In [7]:
s.pop(23)

56

In [8]:
s[32]=898

In [9]:
s

65     85
36     89
32    898
dtype: int64

In [24]:
o=range(5)
j=range(3,8)
l=range(4,9)
#S=pd.DataFrame([l,j,o],columns=["OP","KI","JI","LO","IK","LI"],index=["GH","MN","KI"])
pd.DataFrame({2:l,1:j,3:o})

   2  1  3
0  4  3  0
1  5  4  1
2  6  5  2
3  7  6  3
4  8  7  4

In [16]:
pd.DataFrame([l,j,o])
S=pd.DataFrame([l,j,o],columns=["OP","KI","JI","LO","IK","LI"],index=["GH","MN","KI"])
S

    OP  KI  JI  LO  IK   LI
GH   4   5   6   7   8  NaN
MN   3   4   5   6   7  NaN
KI   0   1   2   3   4  5.0

In [20]:
S.columns.name="ikea"
S.index.name="Furniture"
S.columns=["OP1","KI1","JI1","LO1","IK1","LI1"]
S.index=["GH1","MN1","KI1"]
S

     OP1  KI1  JI1  LO1  IK1  LI1
GH1    4    5    6    7    8  NaN
MN1    3    4    5    6    7  NaN
KI1    0    1    2    3    4  5.0

In [48]:
d3={"a":range(0,10),"b":range(10,20),"c":range(20,30)}
s1=pd.DataFrame(d3)
s1.index=["a","b","c","d","e","f","g","h","i","j"]
s1["d"]=range(30,40)
s1.loc["k"]=[13,18,19,20]
s1.drop("d",axis=1,inplace=True)
s1

    a   b   c
a   0  10  20
b   1  11  21
c   2  12  22
d   3  13  23
e   4  14  24
f   5  15  25
g   6  16  26
h   7  17  27
i   8  18  28
j   9  19  29
k  13  18  19

In [30]:
s1.iloc[[1,4,8],[1,2]]

    b   c
b  11  21
e  14  24
i  18  28

In [31]:
s1.iloc[1:3,1:3]

    b   c
b  11  21
c  12  22

In [37]:
s1.loc["d","a"]
s1.loc["a",:]

a     0
b    10
c    20
Name: a, dtype: int64

In [38]:
j={"s":range(6),"j":range(3,9),"y":range(4,10)}
i=pd.DataFrame(j)
i.columns.name="ok"
i.index.name="ko"
i

ok  j  s  y
ko
0   3  0  4
1   4  1  5
2   5  2  6
3   6  3  7
4   7  4  8
5   8  5  9

In [26]:
try:
    pd.Series([l,j,o])
except:
    print("not a series")

In [27]:
pd.Series([l,j,o])

0       [4, 5, 6, 7, 8]
1       [3, 4, 5, 6, 7]
2    [0, 1, 2, 3, 4, 5]
dtype: object

In [51]:
d=pd.read_csv("new_noIndex.csv",index_col="day")
d["temperature"][1/5/2017]

32

In [57]:
d=pd.read_csv("new_noIndex.csv",index_col="day")
d.loc["1/3/2017","temperature"]

28

In [58]:
d.iloc[0,2]

'Rain'

In [69]:
d.loc[["1/2/2017","1/3/2017"],"temperature"]

day
1/2/2017    35
1/3/2017    28
Name: temperature, dtype: int64

In [72]:
d.iloc[[2,3],[1,2]]

          windspeed event
day
1/3/2017          2  Snow
1/4/2017          7  Snow

In [74]:
d.iloc[2:4,1]

day
1/3/2017    2
1/4/2017    7
Name: windspeed, dtype: int64