In [4]:
import ipywidgets as w
import matplotlib.pyplot as plt
import nsepy as np
import ta
import pandas as pd
import os

In [8]:

button = w.Button( description='Submit',)
f=w.Dropdown(options=list(pd.read_csv("nifty500list.csv").Symbol),description="Stock :")
s=w.DatePicker(description="Start date:")
e=w.DatePicker(description="end date :")
button.style.button_color="lightgreen"
page=w.HBox([f,s,e,button])
display(page)
def u():
    plt.figure(1,figsize=(20,10))
    plt.subplot(211)
    plt.plot(np.get_history(f.value,s.value,e.value).Close)

    plt.title("{}".format(f.value))
    plt.show()


def it(self):
    w.interact(u)
    p1=w.IntSlider(min=10,max=50,value=30,continuous_update=False,description="Overselling")
    p2=w.IntSlider(min=60,max=100,value=70,continuous_update=False,description="OverBuying"
    w.interact(rsi,)
def rsi(i,j):
    plt.figure(2,figsize=(20,5))
    plt.plot(ta.rsi(np.get_history(f.value,s.value,e.value).Close))
    plt.axhline(y=i,color="green")
    plt.axhline(y=j,color="red")
    plt.ylim((0,100))
    plt.title("{} rsi".format(f.value))
#     plt.plot(ta.bollinger_lband(np.get_history(f.value,s.value,e.value).Close,n=i))
    plt.show()
#w.interact(rsi,i=w.IntSlider(min=10,max=50,value=30,continuous_update=False,description="Overselling"),j=w.IntSlider(min=60,max=100,value=70,continuous_update=False,description="OverBuying"))
button.on_click(it)

SyntaxError: invalid syntax (<ipython-input-8-f9edce5d7200>, line 23)

In [174]:
buyprice=0.0
sellprice = 0.0
cash = 1
stock = 0
# sma = 200
mawealth = 1.0

buy_data=[]

sell_data=[]

trade_price=[]

wealth=[]

used=pd.DataFrame(np.get_history(f.value,s.value,e.value).Close)

rsi =pd.DataFrame(ta.rsi(np.get_history(f.value,s.value,e.value).Close))
# MA = used.rolling(window=sma,center=False).mean()
# j=pd.concat(used,rsi).dropna()
N = int(j["Close"].count())

for x in range(N):
    if j["rsi"][x] <= 30 and cash==1:
        buyprice=j["Close"][x+1]
        
        buy_data.append(buyprice)
        trade_price.append(buyprice)
        cash=0.0
        stock = 1
    elif j["rsi"][x] >= 70 and stock ==1:
        
        sellprice = j["Close"][x+1]
        
        sell_data.append(sellprice)
        trade_price.append(sellprice)
        stock = 0
        cash = 1
        mawealth = mawealth*(sellprice/buyprice)
        wealth.append(mawealth)

w=pd.DataFrame(wealth)
wealth

# plt.plot(w,"r--")
# plt.ylabel("wealth")
# plt.title("Profit from the strategy for : {}".format(f.value))
# plt.grid()
print(buy_data)
print(sell_data)
print(trade_price)
print(wealth)

[54.95]
[57.6]
[54.95, 57.6]
[1.0482256596906279]

In [161]:

j=pd.merge(left=rsi,right=used,on=used.index)
# u.where(j["rsi"] < 30 ,"Buy","_")
# u.where(j["rsi"] > 70,"Sell","_")
j["rsi"].count()

266

In [173]:
f.value

'COLPAL'

In [123]:
pd.DataFrame((np.get_history(f.value,s.value,e.value).Close))

             Close
Date
2017-12-06  385.75
2017-12-07  389.70
2017-12-08  393.40
2017-12-11  391.75
2017-12-12  402.50
2017-12-13  394.00
2017-12-14  395.10
2017-12-15  401.35
2017-12-18  404.60
2017-12-19  405.80
2017-12-20  404.40
2017-12-21  402.30
2017-12-22  402.15
2017-12-26  404.55
2017-12-27  404.20
2017-12-28  398.70
2017-12-29  405.65
2018-01-01  399.65
2018-01-02  397.40
2018-01-03  407.65
2018-01-04  409.85
2018-01-05  423.80
2018-01-08  422.90
2018-01-09  421.10
2018-01-10  423.45
2018-01-11  425.50
2018-01-12  423.30
2018-01-15  420.60
2018-01-16  423.55
2018-01-17  433.40
...            ...
2018-12-27  384.00
2018-12-28  387.40
2018-12-31  387.70
2019-01-01  389.00
2019-01-02  381.30
2019-01-03  378.10
2019-01-04  382.15
2019-01-07  381.65
2019-01-08  378.75
2019-01-09  377.30
2019-01-10  380.25
2019-01-11  377.15
2019-01-14  374.45
2019-01-15  385.15
2019-01-16  389.30
2019-01-17  394.50
2019-01-18  399.30
2019-01-21  396.20
2019-01-22  390.60
2019-01-23  385.20
2019-01-24  380.95
2019-01-25  373.85
2019-01-28  326.10
2019-01-29  349.25
2019-01-30  338.15
2019-01-31  338.65
2019-02-01  338.45
2019-02-04  335.65
2019-02-05  339.80
2019-02-06  330.35

[290 rows x 1 columns]

In [149]:
import numpy as u