In [1]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
g=pd.read_csv("quikr_car.csv")

In [4]:
g.columns

Index(['Name of car', 'Company name', 'Year', 'Price', 'Kms driven',
       'Fuel_type'],
      dtype='object')

In [5]:
g.index

RangeIndex(start=0, stop=892, step=1)

In [6]:
g.loc[:,'Kms driven']

0          45,000
1              40
2      22,000 kms
3          28,000
4          36,000
          ...
887           NaN
888        27,000
889        40,000
890        Petrol
891        Petrol
Name: Kms driven, Length: 892, dtype: object

In [7]:
g.loc[:,"Price"]

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object

In [12]:
g[g["Price"]=="80,000"]

,Name of car,Company name,Year,Price,Kms driven,Fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000",Petrol
14,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000",Petrol
226,Maruti Suzuki Wagon R LX BS III,Maruti,2006,"80,000","71,200",Petrol
287,Chevrolet Beat LS Petrol,Chevrolet,2010,"80,000","56,000",Petrol
293,Hyundai Accent GLX,Hyundai,2006,"80,000","56,000",Petrol
396,Maruti Suzuki Versa DX2 8 SEATER BSIII,Maruti,2004,"80,000","50,000",Petrol
497,Tata Indica,Tata,2005,"80,000","42,000",Petrol

In [20]:

g[g["Fuel_type"]=="Petrol"][g["Fuel_type"]=="Petrol"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Name of car,Company name,Year,Price,Kms driven,Fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000",Petrol
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000",Petrol
7,Hyundai Eon,Hyundai,2013,"1,90,000","25,000",Petrol
9,Maruti Suzuki Alto K10 VXi AMT,Maruti,2015,"2,50,000","60,000",Petrol
...,...,...,...,...,...,...
879,Maruti Suzuki Alto LXi BS III,Maruti,2005,"95,000","65,000",Petrol
881,Skoda Fabia,Skoda,2009,"1,10,000","45,000",Petrol
882,Maruti Suzuki Alto 800 Select Variant,Maruti,2015,Ask For Price,"70,000 kms",Petrol
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"2,70,000","50,000",Petrol
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000",Petrol

In [34]:

ty="Maruti"
a=g["Fuel_type"]=="Petrol"
b=g["Company name"]==ty
c=g["Year"]=="2015"
d=g[a][b][c]
d.to_csv("{}.csv".format(ty))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [35]:
g["Company name"]

0        Hyundai
1       Mahindra
2         Maruti
3        Hyundai
4           Ford
         ...
887         Tara
888         Tata
889     Mahindra
890        Honda
891    Chevrolet
Name: Company name, Length: 892, dtype: object